[Unit]
Description=Bind USB device to usbipd
After=network-online.target usbipd.service
Wants=network-online.target usbipd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/usbip bind --busid %i
ExecStop=/usr/bin/usbip unbind --busid %i

[Install]
WantedBy=multi-user.target
